
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}



<section id="home" class="home">
    <div class="home_overlay">
        <div class="container">
            <div class="row">
                <div class="main_slider_area">
                    <div class="slider">
                        <div class="single_slider">
                            <h3>Just a Proffesional Web Hosting Services</h3>
                            <p>modern  -  fast  -  reliable</p>
                            <div class="single_slider_img_icon">
                                <img src="assets/images/ii1.png" alt="" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="home_searce_domain_area">
                                    <div class="main_home_searce_domain_content">
                                        <input type="text" placeholder="Your Domain Name ..." />
                                        <select class="form-control">
                                            <option>.com</option>
                                            <option>.net</option>
                                            <option>.co</option>
                                        </select>
                                        <input type="submit" value="Check Availability" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of Banner Section -->



<section id="abouts" class="webhost_service">
    <div class="container-fluid">
        <div class="row">
            <div class="main_webhost_service_area text-center">
                <div class="col-sm-6 no-padding">
                    <div class="single_webhost_left">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="single_webhost_left_img">
                                    <img src="assets/images/icon1.png" alt="" />
                                </div>
                                <div class="single_webhost_left_content">
                                    <h3>#1 Webhost Services</h3>
                                    <p>
                                        This is Photoshop's version  of Lorem Ipsum.
                                        Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
                                        lorem quis bibendum auctor, nisi elit consequat ipsum,
                                        nec sagittis sem nibh id elit.
                                    </p>
                                    <a href="" class="btn">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 no-padding">
                    <div class="single_webhost_right">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="single_webhost_right_img">

                                    <h1>.com</h1>
                                </div>
                                <div class="single_webhost_right_content">
                                    <h3>#1 Domain Services</h3>
                                    <p>
                                        This is Photoshop's version  of Lorem Ipsum.
                                        Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
                                        lorem quis bibendum auctor, nisi elit consequat ipsum,
                                        nec sagittis sem nibh id elit.
                                    </p>
                                    <a href="" class="btn">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="feature" class="feature">
    <div class="feature_overlay">
        <div class="container">
            <div class="row">
                <div class="main_feature_content_area">
                    <div class="col-sm-12">
                        <div class="heading_title text-center">
                            <h2>Our Features</h2>
                            <p>Our Best Features</p>
                        </div>
                    </div>

                    <div class="main_feature_content text-center">
                        <div class="col-sm-3">
                            <div class="single_feature">
                                <div class="single_feature_img">
                                    <img src="assets/images/ft1.png" alt="" />
                                </div>
                                <div class="separator"></div>
                                <h3>Live Support</h3>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single_feature">
                                <div class="single_feature_img">
                                    <img src="assets/images/ft2.png" alt="" />
                                </div>
                                <div class="separator"></div>
                                <h3>Cloud Technology</h3>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single_feature">
                                <div class="single_feature_img">
                                    <img src="assets/images/ft3.png" alt="" />
                                </div>
                                <div class="separator"></div>
                                <h3>Hi Tech Database</h3>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single_feature">
                                <div class="single_feature_img">
                                    <img src="assets/images/ft4.png" alt="" />
                                </div>
                                <div class="separator"></div>
                                <h3>Live Monitoring</h3>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="clients" class="clients">
    <div class="container">
        <div class="row">
            <div class="main_clients_area">

                <div class="main_clients_top_content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="client_left_content">
                                <h2>Our Clients</h2>
                                <p>
                                    This is Photoshop's version  of Lorem Ipsum.
                                    Proin gravida nibh vel velit auctor aliquet.
                                    Aenean sollicitudin, lorem quis bibendum.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="single_right_client">
                                        <img src="assets/images/c1.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="single_right_client">
                                        <img src="assets/images/c2.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="single_right_client">
                                        <img src="assets/images/c3.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="single_right_client">
                                        <img src="assets/images/c4.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_clients_bottom_content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="single_client_bottom">
                                <p>
                                    “ This is Photoshop's version  of Lorem Ipsum.
                                    Proin gravida nibh vel velit auctor aliquet.
                                    Aenean sollicitudin, lorem quis bibendum auctor,
                                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”
                                </p>
                                <a href="">-Anna</a>
                                <div class="singel_client_bottom_img">
                                    <img src="assets/images/cl1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single_client_bottom">
                                <p>
                                    “ This is Photoshop's version  of Lorem Ipsum.
                                    Proin gravida nibh vel velit auctor aliquet.
                                    Aenean sollicitudin, lorem quis bibendum auctor,
                                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”
                                </p>
                                <a href="">-Anna</a>
                                <div class="singel_client_bottom_img">
                                    <img src="assets/images/cl1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single_client_bottom">
                                <p>
                                    “ This is Photoshop's version  of Lorem Ipsum.
                                    Proin gravida nibh vel velit auctor aliquet.
                                    Aenean sollicitudin, lorem quis bibendum auctor,
                                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”
                                </p>
                                <a href="">-Anna</a>
                                <div class="singel_client_bottom_img">
                                    <img src="assets/images/cl1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="pricing" class="pricing">
    <div class="container">
        <div class="row">
            <div class="main_pricing">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-8 col-xs-12">
                            <div class="single_left_planig">
                                <h2>Do you want to view Plans & Pricing ?</h2>
                                <p>Follow the button in the right section.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="single_right_planig">
                                <a href="" class="btn btn-primary">Plans & Pricing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of Pricing Section -->





<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="main_contact">

                <div class="contactwithmap_content">

                    <div class="contact_overlay">
                        <div class="col-sm-8 col-xs-12">
                            <div class="locations_map">
                                <img src="assets/images/mapbg.png" alt="" />
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="contactwithmap_menu">
                                <h2>Navigation</h2>
                                <ul class="footer_menu">
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#abouts">About</a></li>
                                    <li><a href="#pricing">Pricing</a></li>
                                    <li><a href="#tours">Domain</a></li>
                                    <li><a href="#contact">Hosting</a></li>

                                </ul>

                                <div class="contactwithmap_socail_bookmark">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End of contact With Map Section -->


